
.pixi
*.egg-info
.magic
/droidtemplate/
/pubtemplate/
/gtemplate/
/mtemplate/
/qtemplate/
/rtemplate/
/ztemplate/
/angle-template/
/ansible-template/
/azure-template/
/c--template/
/c-template/
/containers-template/
/cpp-template/
/css-template/
/cuda-template/
/deno-template/
/dns-template/
/dotnet-template/
/git-template/
/gnupg-template/
/go-template/
/gtk-template/
/haskell-template/
/html-template/
/hyprland-template/
/java-template/
/js-template/
/json-template/
/k8s-template/
/latex-template/
/mariadb-template/
/maven-template/
/mesa-template/
/mysql-template/
/neomutt-template/
/network-template/
/nginx-template/
/nix-template/
/obs-template/
/pam-template/
/php-template/
/pipewire-template/
/psql-template/
/salesforce-template/
/scala-template/
/shell-template/
/sqlite-template/
/svg-template/
/tauri-template/
/terraform-template/
/tor-template/
/typescript-template/
/unreal-template/
/valkey-template/
/vite-template/
/volta-template/
/vulkan-template/
/wasm-template/
/wayland-template/
/yaml-template/
/zig-template/
